.subTitleCard {
    font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: rgba(38, 17, 108, 0.5);
text-align: center;
height: 30px;
}

.cardContent{
    cursor: pointer;
}

.cardContent:active{
    animation-name: clickCard;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background-color: rgba(38, 17, 108, 0.3);
    color : white;
}

@keyframes clickCard {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.03);
    }
}